.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
  background-color: #efefef;
  text-align: center;
}
.jumbotron {
	background-color: white;
}

.heading {
  margin-left: 30px;
    padding: 5px;
}

.form-group {
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  color: #c90c15;  
  font-size: 34px; 
  font-weight: 300; 
  line-height: 40px; 
  margin: 0 0 16px; 
  margin-left: 10px;
}


h2 { 
  color: #c90c15;  
  font-size: 24px; 
  font-weight: 300; 
  line-height: 32px; 
  margin: 0 0 14px; 
  margin-left: 30px;
}

h3 {
  margin-left:30px;
}


p { color: #222;   
  font-size: 15px; 
  font-weight: 400; 
  line-height: 24px; 
  margin: 0 0 14px; 
  float: left;
}

body {
  background-color: #f1f1f1;
}

hr {
  border-color: #BDBDBD;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}


#thetachilogo {
  margin-left: 5px;
  width: 120px;
}

#bannerimage {
  width: 100%;
  background-image: url(https://i.imgur.com/nq6lY8A.jpg);
  height: 405px;
  background-color: grey;
  background-position: center;
  background-repeat: no-repeat;
}

#textblock {
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}

#table {
  margin-left: 50px;
  margin-right: 50px;
}

#cancel-button {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}

#emailbox {
  margin-left: 30px;
}

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid red;
  border-right: 2px solid red;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

